Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# Перенаправление с rest.loc на rest.loc/api
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ /api/$1 [R=301]

# Если адрес начинается с api/ , то перенаправлять все запросы на api.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ /api.php
